resource "fastly_service_v1" "foo" {
    name = "{{.Name}}"
    default_ttl="{{.DefaultTTL}}"

    domain {
        name    = "{{.DomainName}}"
        comment = "tf-testing-domain"
    }

    {{range .Backends}}
    backend {
        address = "{{.Address}}"
        name    = "{{.Name}}"
    }
    {{end}}

    force_destroy = true
}