resource "fastly_service_wasm" "foo" {
    name = "{{.name}}"
    {{if .comment}}comment = "{{.comment}}"{{end}}
    {{if .version_comment}}version_comment = "{{.version_comment}}"{{end}}

    domain {
        name    = "{{.domain_name}}"
        comment = "tf-testing-domain"
    }

    backend {
        address = "aws.amazon.com"
        name    = "amazon docs"
    }

    package {
        filename = "test_fixtures/package/valid.tar.gz"
        source_code_hash = filesha512("test_fixtures/package/valid.tar.gz")
    }

    force_destroy = true
}